h1, h2, h3, h4, h5 {
  margin: 0 !important;
  padding: 0 !important;
}
.content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px 24px;
  align-items: center;
  min-height: 90vh;
}
.form-center-class {
  width: 100%;
  margin-top: 2rem !important;
} 
.form-center-class * {
  justify-content: center;
} 